<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102337574115-ir8a7oefftdqs2s03m21549r03gkke4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102337574115-ir8a7oefftdqs2s03m21549r03gkke4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102337574115-1rvl9jmajufj3g79botqmbgs1q045d4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPuB2tMBMh431DuVYw-9wa01hC8iAAcbc</string>
	<key>GCM_SENDER_ID</key>
	<string>102337574115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wevivor.clay</string>
	<key>PROJECT_ID</key>
	<string>clay-36ada</string>
	<key>STORAGE_BUCKET</key>
	<string>clay-36ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102337574115:ios:c9eb5ad5b2d0e78d6cc1d6</string>
</dict>
</plist>